/avernus/Hexcrawl/Hexcraw[[:space:]]Art/hexfriend[[:space:]]files/Avernus[[:space:]](8).png filter=lfs diff=lfs merge=lfs -text
/avernus/Hexcrawl/Hexcraw[[:space:]]Art/hexfriend[[:space:]]files/Avernus.hexfriend filter=lfs diff=lfs merge=lfs -text
/avernus/Hexcrawl/Hexcraw[[:space:]]Art/hexfriend[[:space:]]files/points_of_interest[[:space:]](19).hfts filter=lfs diff=lfs merge=lfs -text
